<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php">
  <testsuite name="PHPModelGenerator">
    <directory>packages/php-json-schema-model-generator/tests</directory>
    <exclude>packages/php-json-schema-model-generator/tests/manual</exclude>
  </testsuite>
  <source>
    <include>
      <directory>packages/php-json-schema-model-generator/src</directory>
    </include>
  </source>
</phpunit>
